<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042628043827-vl2o3n0libig6pomln3lkifbjfs5pnvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042628043827-vl2o3n0libig6pomln3lkifbjfs5pnvk</string>
	<key>API_KEY</key>
	<string>AIzaSyB5dHvx10mkl2mOIqbH05Siy9-iDhtg6YQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1042628043827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imac.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>iosflashchat-ee7fa</string>
	<key>STORAGE_BUCKET</key>
	<string>iosflashchat-ee7fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042628043827:ios:2af472ee29a0f6e9</string>
	<key>DATABASE_URL</key>
	<string>https://iosflashchat-ee7fa.firebaseio.com</string>
</dict>
</plist>